:host {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 83dvh;
  flex-grow: 1;
  padding: 1rem;
  background-image: url("../assets/img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
