:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: black;
  padding: 2rem;
  h2 {
    width: 100%;
    font-size: 2.2em;
    font-weight: bolder;
    line-height: 1.2;
    text-shadow: white 2px 1px;
    text-align: center;
  }

  button {
    font-size: 1.3em;
    padding: 0.5rem 1.2rem;
  }
}
